<?xml version="1.0"?>

<launch>

	<!-- AutoDRIVE-ROS Bridge -->
	<node name="autodrive_ros_bridge" pkg="autodrive" type="server.py" output="screen"/>

	<!-- AutoDRIVE ADSS -->
	<node name="autodrive_adss" pkg="autodrive" type="adss"/>

	<!-- AutoDRIVE SCSS -->
	<node name="autodrive_scss" pkg="autodrive" type="scss"/>

</launch>
