<?xml version="1.0"?>

<launch>

  <!-- Global Parameter -->
  <param name="/use_sim_time" value="false"/>

  <!-- Frames -->
  <param name="map_frame" value="map"/>
  <param name="odom_frame" value="odom"/>
  <param name="base_frame" value="nigel"/>

  <!-- Transforms -->
  <node pkg="tf" type="static_transform_publisher" name="nigel_to_lidar_tf" args="0.1445 0 0.1767 3.1416 0 0 nigel lidar 100"/>

  <!-- LIDAR Sensor -->
  <node name="lidar"                  pkg="rplidar_ros"  type="rplidarNode">
    <param name="serial_port"         type="string"      value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"         value="115200"/>
    <param name="frame_id"            type="string"      value="lidar"/>
    <param name="inverted"            type="bool"        value="false"/>
    <param name="angle_compensate"    type="bool"        value="true"/>
  </node>

  <!-- Odometry -->
  <node pkg="autodrive" type="lidar_odometer" name="lidar_odometer">
    <param name="laser_scan_topic" value="/scan"/> # topic where the lidar scans are being published
    <param name="odom_topic" value="/odom"/>       # topic where to publish the odometry estimations
    <param name="publish_tf" value="true"/>        # whether or not to publish the tf::transform (base_frame->odom_frame)
    <param name="base_frame_id" value="/nigel"/>   # frame_id (tf) of the mobile base
    <param name="odom_frame_id" value="/odom"/>    # frame_id (tf) to publish the odometry estimations
    <param name="init_pose_from_topic" value=""/>  # leave empty to start at point (0,0)
    <param name="freq" value="6.0"/>               # execution frequency
    <param name="verbose" value="false"/>          # verbose
  </node>

  <!-- Map -->
  <arg name="map_file" value="$(find autodrive)/maps/map.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <!-- AMCL -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic "            value="true"/>
    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.01"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="gui_publish_rate"          value="50.0"/>
    <remap from="scan"                      to="$(arg scan_topic)"/>
    <param name="laser_max_range"           value="12"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>
    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="global_frame_id"           value="map"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="nigel"/>
  </node>

  <!-- Navigation -->
  <node pkg="move_base" type="move_base" respawn="false" name="planner">
    <rosparam file="$(find autodrive)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find autodrive)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find autodrive)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find autodrive)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find autodrive)/config/planner_params.yaml" command="load"/>
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <param name="controller_frequency" value="5.0"/>
    <param name="controller_patience" value="10.0"/>
    <param name="clearing_rotation_allowed" value="false"/>
  </node>

  <!-- Control -->
  <node pkg="autodrive" type="nav_ctrl.py" name="controller"/>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autodrive)/rviz/testbed_navigation.rviz"/>

</launch>
