<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>AutoDRIVE SCM</title>
</head>
    <body>

        <div id=TL1 class="trafficLight"></div>
        <div id=TL2 class="trafficLight"></div>
        <div id=TL3 class="trafficLight"></div>
        <div id=TL4 class="trafficLight"></div>

        <form method="post" action="/">

            <!--TRAFFIC LIGHT 1-->

            {% if TLData[0][3] == "Red" %}
            <button id=TL1 class="redLightActive" disabled></button>
            {% else %}
            <button id=TL1 class="redLight" type=submit name="response" value="TL1R"></button>
            {% endif %}

            {% if TLData[0][3] == "Yellow" %}
            <button id=TL1 class="yellowLightActive" disabled></button>
            {% else %}
            <button id=TL1 class="yellowLight" type=submit name="response" value="TL1Y"></button>
            {% endif %}

            {% if TLData[0][3] == "Green" %}
            <button id=TL1 class="greenLightActive" disabled></button>
            {% else %}
            <button id=TL1 class="greenLight" type=submit name="response" value="TL1G"></button>
            {% endif %}

            <!--TRAFFIC LIGHT 2-->

            {% if TLData[1][3] == "Red" %}
            <button id=TL2 class="redLightActive" disabled></button>
            {% else %}
            <button id=TL2 class="redLight" type=submit name="response" value="TL2R"></button>
            {% endif %}

            {% if TLData[1][3] == "Yellow" %}
            <button id=TL2 class="yellowLightActive" disabled></button>
            {% else %}
            <button id=TL2 class="yellowLight" type=submit name="response" value="TL2Y"></button>
            {% endif %}

            {% if TLData[1][3] == "Green" %}
            <button id=TL2 class="greenLightActive" disabled></button>
            {% else %}
            <button id=TL2 class="greenLight" type=submit name="response" value="TL2G"></button>
            {% endif %}

            <!--TRAFFIC LIGHT 3-->

            {% if TLData[2][3] == "Red" %}
            <button id=TL3 class="redLightActive" disabled></button>
            {% else %}
            <button id=TL3 class="redLight" type=submit name="response" value="TL3R"></button>
            {% endif %}

            {% if TLData[2][3] == "Yellow" %}
            <button id=TL3 class="yellowLightActive" disabled></button>
            {% else %}
            <button id=TL3 class="yellowLight" type=submit name="response" value="TL3Y"></button>
            {% endif %}

            {% if TLData[2][3] == "Green" %}
            <button id=TL3 class="greenLightActive" disabled></button>
            {% else %}
            <button id=TL3 class="greenLight" type=submit name="response" value="TL3G"></button>
            {% endif %}

            <!--TRAFFIC LIGHT 4-->

            {% if TLData[3][3] == "Red" %}
            <button id=TL4 class="redLightActive" disabled></button>
            {% else %}
            <button id=TL4 class="redLight" type=submit name="response" value="TL4R"></button>
            {% endif %}

            {% if TLData[3][3] == "Yellow" %}
            <button id=TL4 class="yellowLightActive" disabled></button>
            {% else %}
            <button id=TL4 class="yellowLight" type=submit name="response" value="TL4Y"></button>
            {% endif %}

            {% if TLData[3][3] == "Green" %}
            <button id=TL4 class="greenLightActive" disabled></button>
            {% else %}
            <button id=TL4 class="greenLight" type=submit name="response" value="TL4G"></button>
            {% endif %}

            <!--DATA TABLE-->

            <div class="infoPanel">
                <img src="../static/img/autodrive_logo.png" class="autodriveLogo">
                <h1><center>AutoDRIVE Smart City Manager</center></h1>
                <script src="../static/js/timestamp.js"></script>
                <div class="clock"></div>

                {% if DTState == "Vehicles" %}
                <script>setTimeout("location.reload(true);", 500);</script>
                <button id=VData class="dataButtonActive" disabled>Vehicles</button>
                <table>
                    <tr>
                        <th class="tableColumn">ID</th>
                        <th class="tableColumn">Pos-X</th>
                        <th class="tableColumn">Pos-Y</th>
                        <th class="tableColumn">Yaw</th>
                    </tr>
                    {% for row in VData %}
                        <tr>
                            <td class="tableColumn">{{row[0]}}</td>
                            <td class="tableColumn">{{row[1]}}</td>
                            <td class="tableColumn">{{row[2]}}</td>
                            <td class="tableColumn">{{row[3]}}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <button id=VData class="dataButton" type=submit name="response" value="V">Vehicles</button>
                {% endif %}

                {% if DTState == "Traffic Signs" %}
                <button id=TSData class="dataButtonActive" disabled>Traffic Signs</button>
                <table>
                    <tr>
                        <th class="tableColumn">ID</th>
                        <th class="tableColumn">Pos-X</th>
                        <th class="tableColumn">Pos-Y</th>
                        <th class="tableColumn">Name</th>
                    </tr>
                    {% for row in TSData %}
                        <tr>
                            <td class="tableColumn">{{row[0]}}</td>
                            <td class="tableColumn">{{row[1]}}</td>
                            <td class="tableColumn">{{row[2]}}</td>
                            <td class="tableColumn">{{row[3]}}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <button id=TSData class="dataButton" type=submit name="response" value="TS">Traffic Signs</button>
                {% endif %}

                {% if DTState == "Traffic Lights" %}
                <button id=TLData class="dataButtonActive" disabled>Traffic Lights</button>
                <table>
                    <tr>
                        <th class="tableColumn">ID</th>
                        <th class="tableColumn">Pos-X</th>
                        <th class="tableColumn">Pos-Y</th>
                        <th class="tableColumn">Status</th>
                    </tr>
                    {% for row in TLData %}
                        <tr>
                            <td class="tableColumn">{{row[0]}}</td>
                            <td class="tableColumn">{{row[1]}}</td>
                            <td class="tableColumn">{{row[2]}}</td>
                            <td class="tableColumn">{{row[3]}}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <button id=TLData class="dataButton" type=submit name="response" value="TL">Traffic Lights</button>
                {% endif %}

            </div>
        </form>

    </body>
</html>
