<?xml version="1.0"?>

<launch>

  <!-- AutoDRIVE-ROS Bridge -->
	<node name="autodrive_ros_bridge" pkg="autodrive_nigel" type="server.py" output="screen"/>

	<!-- Transform -->
	<node pkg="tf" type="static_transform_publisher" name="nigel_to_lidar_tf" args="0.1445 0 0.1757 3.1416 0 0 /nigel_1 /lidar 100"/>

	<!-- Odometer -->
  <node pkg="autodrive_nigel" type="lidar_odometer" name="lidar_odometer">
    <param name="laser_scan_topic" value="/autodrive/nigel_1/lidar"/> # topic where the lidar scans are being published
    <param name="odom_topic" value="/odom"/>                     # topic where to publish the odometry estimations
    <param name="publish_tf" value="true"/>                      # whether or not to publish the tf::transform (base_frame->odom_frame)
    <param name="base_frame_id" value="/nigel_1"/>               # frame_id (tf) of the mobile base
    <param name="odom_frame_id" value="odom"/>                   # frame_id (tf) to publish the odometry estimations w.r.t.
    <param name="init_pose_from_topic" value=""/>                # leave empty to start at point (0,0)
    <param name="freq" value="6.0"/>                             # execution frequency
    <param name="verbose" value="false"/>                        # verbose
  </node>

	<!-- Map -->
  <arg name="map_file" value="$(find autodrive_nigel)/maps/parking_school_perfect_simulator.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <!-- AMCL -->
  <arg name="scan_topic"     default="/autodrive/nigel_1/lidar"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic "            value="true"/>
    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="1000"/>
    <param name="kld_err"                   value="0.1"/>
    <param name="update_min_d"              value="0.01"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="gui_publish_rate"          value="6.0"/>
    <remap from="scan"                      to="$(arg scan_topic)"/>
		<param name="laser_min_range"           value="0.15"/>
    <param name="laser_max_range"           value="12"/>
    <param name="laser_max_beams"           value="30"/>
		<param name="laser_model_type"          value="likelihood_field"/>
    <param name="laser_z_hit"               value="0.9"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.1"/>
    <param name="laser_likelihood_max_dist" value="4.0"/>
    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.001"/>
    <param name="odom_alpha2"               value="0.001"/>
    <param name="odom_alpha3"               value="0.001"/>
    <param name="odom_alpha4"               value="0.001"/>
    <param name="global_frame_id"           value="/map"/>
    <param name="odom_frame_id"             value="/odom"/>
    <param name="base_frame_id"             value="/nigel_1"/>
  </node>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autodrive_nigel)/rviz/simulator/simulator_amcl.rviz"/>

</launch>
